h1 {
    display: flex;
    padding-top: 25px;
    color: darkturquoise;
    margin-left: 30px;
    font-family: 'Yesteryear', cursive;
    font-size: xxx-large;
    text-shadow: 2px 2px 2px black;

    }

p {
    margin-top: 20px;
    margin-left: 69px;
    border: 10px solid rgb(4, 250, 4);
    border-radius: 10px;
    background-color: darkcyan;
    width: 400px;
    font-size: 30px;
    text-align: center;
    color: pink;
    text-shadow: 2px 2px 2px red;
    font-family: 'Permanent Marker', cursive;

}

.home-wrapper {
    // .image-wrapper {
    //     background-image: url(..components/images/1969chevycamaro.png);
    // }

    .home-buttons-wrapper {
    display: flex;
    
    //     // align-items: center;
    //     // padding-top: 25px;
    //     // justify-content: space-between;display: flex;
    justify-content: space-evenly;
    width: 50vw;
    align-items: center;
    border: 4px solid rgba(155, 248, 4, 0.952);
    height: 45px;
    margin-top: 50px;
    background-color: rgb(246, 7, 234);
    border-radius: 10px;
    }

        

    a {
        font-size: 15px;
        color: greenyellow;
        font-family: 'Permanent Marker', cursive;
    }
    
}

    @media screen and (max-width: 1000px) {
        .home-wrapper {
          flex-direction: column-reverse;

          
          #header {
            color: black;
            text-shadow: 2px 2px 5px pink;
            text-align: center;
          }

          h1 {
             margin-left: 0px;
          }

          p {
              margin-left: 27px;
              width: 80vw;
          }
          
        //   .home-buttons-wrapper {
        //     width: 100%;
            
            // #calender {
      
            //   .date {
            //     border-radius: 0px;
            //     height: 75px;
            //     pointer-events: none;
            //   }
            // }
        //   }
        }
    }